<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.institutemanagementapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstituteManagementApp">
        <activity android:name=".newBatch" />
        <activity android:name=".RegisterAdmin" />
        <activity android:name=".StartActivity" />
        <activity android:name=".teacherlogin" />
        <activity android:name=".teacher_attendanceSheet" />
        <activity android:name=".takeAttendance" />
        <activity android:name=".studentlogin" />
        <activity android:name=".student_attendanceSheet" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".admin_attendanceSheet" />
        <activity
            android:name=".adminLogin"
            android:label="" />
        <activity android:name=".addTeacher" />
        <activity android:name=".addStudent" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>